body{
    background-color: lightblue;
}

/* header */
h1{
    text-align: center;
    font-family: century;
    text-decoration: none;
}

/* heading */
.skill-name{
    font-family: century;
}

/* paragraph */
.skill-description{
    text-decoration-line: none;
}

/* container */
.card-skill-container{
    /* border: 1px solid black; */
    width: 80%;
    height: auto;
    margin: 0 auto;
}

/* cards skill */
.card-skill{
    text-align: center;
    align-items: center;
    width: 234px;
    height: 550px ;
    border: 1px solid black;
    float: left;
    margin: 10px;
    box-shadow: 20px 20px 20px;
    border-radius: 20px;

}
div.card-skill#first{
    background-color: rgba(255, 0, 0, 0.5);
}
div.card-skill#second{
    background-color: rgba(255, 255, 0, 0.5);
}
div.card-skill#third{
    background-color: rgba(255, 255, 255, 0.5);
}
div.card-skill#fourth{
    background-color: rgba(255, 0, 255, 0.5);
}

/* images */
.skill-image{
    width: 150px;
    height: 100px;
}